header {
    height: 100vh;
    padding-top: 6rem;
    overflow: hidden;
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.header_social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3;
}

.header_social::after {
    content: '';
    width: 1px;
    height: 3rem;
    background: var(--color-primary);
}

.header_social a {
    font-size: 20px;
}

.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 6rem 6rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

img:hover,
img:focus {
    transition: 2s;
    transform: scale(1.2);
}

.assign {
    position: absolute;
    right: 0;
    bottom: 0;
}